confidence_thresholds:
  address: 0.6
  birth_date: 0.6
  person_name: 0.6
  phone_number: 0.7
  zip_code: 0.6
context_scoring:
  address_context:
  - 住所
  - 現住所
  - 連絡先
  - 都道府県
  - 市区町村
  - 番地
  - 所在地
  birthdate_context:
  - 生年月日
  - 年齢
  - 生まれ
  - 誕生日
  - 生年
  - 年月日
  boost_score: 0.9
  person_context:
  - 氏名
  - ふりがな
  - フリガナ
  - 名前
  - お名前
  - 姓名
  phone_context:
  - TEL
  - 電話
  - 携帯
  - 自宅
  - tel
  - Tel
  window_size: 50
  zip_context:
  - 〒
  - 郵便番号
  - 郵便
  - zip
  - ZIP
entities_to_mask:
- JP_PERSON
- JP_ADDRESS
- PHONE_NUMBER_JP
- JP_ZIP_CODE
- DATE_OF_BIRTH_JP
- JP_AGE
- JP_GENDER
- EMAIL_ADDRESS
- PERSON
- LOCATION
entity_categories:
  location:
  - LOCATION
  - JP_ADDRESS
  - LOC
  - GPE
  organization:
  - ORGANIZATION
  - JP_ORGANIZATION
  - ORG
  person:
  - PERSON
  - JP_PERSON
  - PER
masking:
  default_mask: '****'
  entity_masks:
    DATE_OF_BIRTH_JP: '****/**/**'
    JP_ADDRESS: '****'
    JP_PERSON: '****'
    JP_ZIP_CODE: '***-****'
    PHONE_NUMBER_JP: '***-****-****'
transformer:
  device: cpu
  enabled: true
  english:
    entities:
    - PERSON
    - LOCATION
    - ORGANIZATION
    model_name: dslim/bert-base-NER
  japanese:
    entities:
    - JP_PERSON
    - JP_ADDRESS
    - JP_ORGANIZATION
    model_name: knosing/japanese_ner_model
  min_confidence: 0.8
  require_dual_detection: true
